mycxf2/src/main/resources/wsdl_from_p64.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="OrderProcessService"
	targetNamespace="http://order.demo/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://order.demo/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema attributeFormDefault="unqualified"
			elementFormDefault="unqualified" targetNamespace="http://order.demo/"
			xmlns:tns="http://order.demo/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<!-- XSD Schema for Input and Output operations -->
			<xs:element name="processOrder" type="tns:processOrder" />
			<xs:element name="processOrderResponse" type="tns:processOrderResponse" />
			<xs:complexType name="processOrder">
				<xs:sequence>
					<xs:element minOccurs="0" name="arg0" type="tns:order" />
				</xs:sequence>
			</xs:complexType>
			<!-- Complex order type elemnets i.e maps to Order Bean -->
			<xs:complexType name="order">
				<xs:sequence>
					<xs:element minOccurs="0" name="customerID" type="xs:string" />
					<xs:element minOccurs="0" name="itemID" type="xs:string" />
					<xs:element name="price" type="xs:double" />
					<xs:element name="qty" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="processOrderResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<!-- Message formats for request and response -->
	<wsdl:message name="processOrderResponse">
		<wsdl:part element="tns:processOrderResponse" name="parameters" />

	</wsdl:message>
	<wsdl:message name="processOrder">
		<wsdl:part element="tns:processOrder" name="parameters" />

	</wsdl:message>
	<!-- Port type and operations for processOrder operation -->
	<wsdl:portType name="OrderProcess">
		<wsdl:operation name="processOrder">
			<wsdl:input message="tns:processOrder" name="processOrder" />

			<wsdl:output message="tns:processOrderResponse" name="processOrderResponse" />


		</wsdl:operation>
	</wsdl:portType>
	<!-- WSDL Binding definition for Order Process -->
	<wsdl:binding name="OrderProcessServiceSoapBinding" type="tns:OrderProcess">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="processOrder">
			<!-- SOAP Binding style -->
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="processOrder">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="processOrderResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<!-- WSDL service definition -->
	<wsdl:service name="OrderProcessService">
		<wsdl:port binding="tns:OrderProcessServiceSoapBinding"
			name="OrderProcessPort">
			<!--soap address location for orderprocess web service -->
			<soap:address location="http://localhost:8080/OrderProcess" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
